{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% include('components/_navbar.html.twig') %}
    <section class="h-screen">
        <div class="px-6 h-full text-gray-800">
            <div class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6">
                <div class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="w-full"
                         alt="Sample image"
                    />
                </div>

                <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
                    <h1>
                        <span class="uppercase text-purple-degrade text-3xl my-6">
                            Formulaire de connexion
                        </span>
                        <span class="block text-sm text-gray-400 mb-2">
                            Connexion réservée aux membres de l'APERP.
                        </span>
                    </h1>
                    <form method="post" name="login">
                        {% if error %}
                            <div id="error-login" class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-3 shadow-md mb-8"
                                 role="alert">
                                <div class="flex">
                                    <div class="py-1"><svg class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                                    <div>
                                        <p class="font-bold">Une Erreur s'est produite ...</p>
                                        <p class="text-sm">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, souhaitez-vous vous<a href="{{ path('app_logout') }}">déconnecter ?</a>
                            </div>
                        {% endif %}

                        <!-- Email input -->
                        <div class="mb-6">
                            <label for="inputEmail">Email</label>
                            <input type="email"
                                   value="{{ last_username }}"
                                   name="email"
                                   id="inputEmail"
                                   class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-indigo-600 focus:outline-none"
                                   autocomplete="email"
                                   required autofocus
                            />
                        </div>

                        <!-- Password input -->
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 right-0 flex items-center px-2">
                                <!-- Display Password Button -->
                                <input id="toggle" class="hidden js-password-toggle"  type="checkbox" />
                                <label for="toggle" class="bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-2.5 py-0.5 mt-[25%] rounded dark:bg-gray-700 dark:text-gray-300 js-password-label">
                                    Afficher
                                </label>
                            </div>
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password"
                                   id="inputPassword"
                                   name="password"
                                   class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-indigo-600 focus:outline-none js-password"
                                   autocomplete="current-password"
                                   required
                            />
                        </div>

                        <!-- Forgotten Password -->
                        {#<div class="flex justify-between items-center mb-6">
                            <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
                                Mot de passe oublié?
                            </a>
                        </div>#}

                        <!-- Submit form button -->
                        <div class="text-center lg:text-left my-6">
                            <button type="submit"
                                    class="inline-block w-full py-3 bg-indigo-600 text-white font-medium text-sm
                                    leading-snug uppercase rounded shadow-md hover:bg-indigo-700 hover:shadow-lg
                                    focus:bg-indigo-700 focus:shadow-lg focus:outline-none focus:ring-0
                                    active:bg-indigo-800 active:shadow-lg transition duration-150 ease-in-out">
                                Connexion
                            </button>
                        </div>
                        <!-- CSRF Token -->
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </form>
                </div>
            </div>
        </div>
    </section>

    {# TODO: Déplacer dans les assets JS #}
    <script>
        const passwordToggle = document.querySelector('.js-password-toggle')

        passwordToggle.addEventListener('change', function() {
            const password = document.querySelector('.js-password'),
                passwordLabel = document.querySelector('.js-password-label')

            if (password.type === 'password') {
                password.type = 'text'
                passwordLabel.innerHTML = 'Cacher'
            } else {
                password.type = 'password'
                passwordLabel.innerHTML = 'Afficher'
            }

            password.focus()
        })
    </script>

{% endblock %}
