{% for product in products %}
    <div class="w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden hover:shadow-2xl hover:border-b-4 hover:border-purple-500 transition-all duration-150">
    {% if product.imageName == "product.webp" or product.imageName is null %}
    <div class="flex items-end justify-end h-56 w-full bg-cover relative"
         style="background-image: url('{{ asset('uploads/images/bases/product.webp') }}')">
        {% if product.stock == 0 %}
            <div class="bg-red-700 text-white z-10 absolute left-[-34px] top-[32px] w-[170px] transform -rotate-45 text-center text-white font-semibold py-1 text-sm tracking-tight">
                <span id="product-full-{{ product.id }}">ÉPUISÉ</span>
            </div>
        {% endif %}
        {% else %}
        <div class="flex items-end justify-end h-56 w-full bg-cover relative"
             style="background-image: url('{{ vich_uploader_asset(product, 'imageFile') }}')">
            {% if product.stock == 0 %}
                <div class="bg-red-700 text-white z-10 absolute left-[-34px] top-[32px] w-[170px] transform -rotate-45 text-center text-white font-semibold py-1 text-sm tracking-tight">
                    <span id="product-full-{{ product.id }}">ÉPUISÉ</span>
                </div>
            {% endif %}
            {% endif %}
            {% if product.stock > 0 %}
                <a href="{{ path('app_cart_add', {'id': product.id}) }}"
                   class="p-2 rounded-full bg-sky-600 text-white mx-2 -mb-4 hover:bg-sky-700 focus:outline-none focus:bg-sky-700">
                    <svg class="h-5 w-5" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                    </svg>
                </a>
            {% endif %}
        </div>

        <div class="px-5 py-3">
            <h3 class="text-gray-700 uppercase">
                <a id="link-to-details-{{ product.id }}" href="{{ path('app_product_show', {'slug': product.slug}) }}"
                   class="hover:text-sky-700 hover:underline hover:font-semibold">
                    {{ product.name }}
                </a>
            </h3>
            <span id="product-price-{{ product.id }}"
                  class=" inline-block mt-4 bg-gray-200 inline-block rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
            {{ format_price(product) }}
        </span>
        </div>
    </div>

{% endfor %}
