<div class="w-full overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
        <table class="w-full">
            <thead>
            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3">#</th>
                <th class="px-4 py-3">Client</th>
                <th class="px-4 py-3">Prix</th>
                <th class="px-4 py-3">Status</th>
                <th class="px-4 py-3">Nom des inscrits</th>
                <th class="px-4 py-3">Action</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800 align-middle">
            {% for registration in registrations %}
                <tr class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900
                                        text-gray-700 dark:text-gray-400">
                    <td class="px-4 py-3 text-sm">
                            <p>{{ loop.index }}</p>
                    </td>
                    <td class="px-4 py-3">
                        <div class="flex items-center text-sm">
                            <div>
                                <p class="font-semibold">{{ registration.fullname }}</p>
                                <p class="text-xs text-gray-600 dark:text-gray-400">
                                    {{ registration.children|length }}
                                    {{ pluralize(registration.children|length, 'enfant', 'enfants') }}
                                    {{ pluralize(registration.children|length, 'inscrit', 'inscrits') }}
                                </p>
                            </div>
                        </div>
                    </td>
                    <td class="px-4 py-3 text-sm">
                        {{ (registration.event.price / 100) * (registration.children|length) }}
                        €
                    </td>
                    <td class="px-4 py-3 text-xs">
                        {% if registration.isPaid == 1 or event.price == 0 %}
                            <span class="px-2 py-1 font-semibold leading-tight text-green-700
                                                    bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                                                        {% if event.price == 0 %}
                                                            Gratuit
                                                        {% else %}
                                                            Payé
                                                        {% endif %}
                                                    </span>
                        {% else %}
                            <span class="px-2 py-1 font-semibold leading-tight text-red-700
                                                    bg-red-100 rounded-full dark:bg-red-700 dark:text-red-100">
                                                        Non Payé
                                                    </span>
                        {% endif %}
                    </td>
                    <td class="px-4 py-3 text-sm">
                        {% for child in registration.children %}
                            <p>{{ child.firstname }} {{ child.lastname }}</p>
                        {% endfor %}
                    </td>
                    <td class="px-4 py-3 text-sm">
                        <a class="text-red-100 bg-red-800 px-3 py-1 rounded-full
                                                hover:bg-red-600 hover:text-white"
                           href="{{ path('app_registration_event_cancel',
                               {'id': registration.id, 'slug': event.slug}) }}">
                            Annuler l'inscription
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
