{% extends 'base.html.twig' %}

{% block title 'ADMIN - Détails Inscriptions' %}

{% block body %}

    {% include('components/_navbar.html.twig') %}

    <section>
        <!-- Section: Design Block -->
        <section class="h-screen">
            <svg
                    data-name="Layer 1"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 1440 320"
                    preserveAspectRatio="none"
                    class="svg absolute hidden lg:block"
                    style="height: 560px; width: 100%; z-index: -10; overflow: hidden"
            >
                <defs>
                    <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
                        <stop stop-color="hsl(217, 102%, 99%)" offset="0%"></stop>
                        <stop stop-color="hsl(217,88%, 93%)" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <path
                        fill="url(#sw-gradient-0)"
                        d="M 0.351 264.418 C 0.351 264.418 33.396 268.165 47.112 270.128 C 265.033 301.319 477.487 325.608 614.827 237.124 C 713.575 173.504 692.613 144.116 805.776 87.876 C 942.649 19.853 1317.845 20.149 1440.003 23.965 C 1466.069 24.779 1440.135 24.024 1440.135 24.024 L 1440 0 L 1360 0 C 1280 0 1120 0 960 0 C 800 0 640 0 480 0 C 320 0 160 0 80 0 L 0 0 L 0.351 264.418 Z"
                ></path>
            </svg>

            <div class="px-6 py-12 lg:my-12 md:px-12 text-gray-800 text-center lg:text-left">
                <div class="container mx-auto xl:px-32">
                    <div class="grid lg:grid-cols-2 gap-12 flex items-center">
                        <div class="mt-12 lg:mt-0">
                            <h1 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12">
                                Détails <br/>
                                <span class="text-indigo-600">{{ event.name }}</span>
                            </h1>
                            <p>
                                            <span class="font-bold text-2xl md:text-3xl xl:text-4xl text-indigo-500">
                                                {{ event.registered }} {{ pluralize(event.registered, 'participant', 'participants') }}
                                            </span>
                                <br>
                                <span class="text-gray-500">
                                                {{ event.startsAt|format_datetime('full', 'short', locale='fr') }}
                                            </span>
                            </p>
                            {# <a class="inline-block px-7 py-3 mr-2 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light" href="#!" role="button">Get started</a>
                                        <a class="inline-block px-7 py-3 bg-transparent text-blue-600 font-medium text-sm leading-snug uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light" href="#!" role="button">Learn more</a> #}
                        </div>
                        <div class="mb-12 lg:mb-0">
                            {# <img src="https://mdbootstrap.com/img/new/standard/city/017.jpg"
                                                class=""
                                                alt=""
                                        /> #}
                            {% if event.imageName == 'event.jpeg' %}
                                <img class="w-full rounded-lg shadow-lg"
                                     src="{{ asset('uploads/images/bases/event.jpeg') }}" alt="">
                            {% else %}
                                <img class="w-full rounded-lg shadow-lg"
                                     src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.name }}"
                                />
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Container for demo purpose -->

        <div class="container mx-auto">
            <!-- Carte Attentes $$$ -->
            <div class="flex flex-wrap">
                <div class="w-full lg:w-1/2 px-4">
                    <div class="relative flex flex-col min-w-0 break-words bg-green-50 w-full mb-6 shadow-lg rounded-lg">
                        <div class="px-4 py-5 flex-auto">
                            <div class="flex flex-wrap">
                                <span class="absolute top-0 left-0 w-2 h-full bg-gradient-to-b from-green-300 to-green-500 rounded-l"></span>
                                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                                    <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                                        Attentes
                                    </h5>
                                    <span class="font-semibold text-xl text-blueGray-700">
                                        {{ ((event.capacity + event.registered) * (event.price)) / 100 }} €
                                    </span>
                                </div>
                                <div class="relative w-auto pl-4 flex-initial">
                                    <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-green-500">
                                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                             viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M14.25 7.756a4.5 4.5 0 100 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <p class="text-sm mt-4">
                                <span class="text-emerald-500 mr-2">
                                    <svg class="w-6 h-6 inline-block mr-1" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z" />
                                    </svg>
                                    {{ event.registered + event.capacity }} {{ pluralize(event.registered, 'participant', 'participants') }}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Carte Budget -->
                <div class="w-full lg:w-1/2 px-4">
                    <div class="relative flex flex-col min-w-0 break-words bg-indigo-50 w-full mb-6 shadow-lg rounded-lg">
                        <div class="px-4 py-5 flex-auto">
                            <div class="flex flex-wrap">
                                <span class="absolute top-0 left-0 w-2 h-full bg-gradient-to-b from-indigo-300 to-indigo-500 rounded-l"></span>
                                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                                    <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                                        Actuelle
                                    </h5>
                                    <span class="font-semibold text-xl text-blueGray-700">
                                        {{ ((event.registered) *  (event.price)) / 100 }} €
                                    </span>
                                </div>
                                <div class="relative w-auto pl-4 flex-initial">
                                    <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-indigo-500">
                                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                             viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                  d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"/>
                                        </svg>

                                    </div>
                                </div>
                            </div>
                            <p class="text-sm mt-4">
                                <span class="text-sky-600 mr-2">
                                    <svg class="w-6 h-6 inline-block mr-1" xmlns="http://www.w3.org/2000/svg" fill="none"
                                         viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z" />
                                    </svg>

                                    {{ event.capacity }}
                                    {{ pluralize(event.registered, 'place', 'places') }}
                                    {{ pluralize(event.registered, 'restante', 'restantes') }}.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Séparateur -->
            <div class="my-8 text-center border-b">
                <div class="inline-block px-2 text-sm font-medium leading-none tracking-wide text-gray-600 transform translate-y-1/2 bg-white">
                    {{ pluralize(event.registered, 'Représentant', 'Représentants') }}
                    {{ pluralize(event.registered, 'légal', 'légaux') }}
                </div>
            </div>

            <!-- Carte représentant légal -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 p-4 gap-4">
                {% for registration in uniqueRegistrations %}
                    <div class="bg-indigo-50 shadow-lg rounded-md flex items-center justify-between
                    p-3 border-b-4 border-sky-600 dark:border-gray-600 text-white font-medium group">
                        <div class="flex justify-center items-center w-14 h-14">
                            <svg class="w-6 h-6 text-sky-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                            </svg>
                        </div>
                        <div class="text-right text-sky-700">
                            <p class="text-2xl">{{ registration.fullname }}</p>
                            <p>{{ registration.telephone }}</p>
                            <p>{{ registration.email }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!-- Séparateur -->
            <div class="my-8 text-center border-b">
                <div class="inline-block px-2 text-sm font-medium leading-none tracking-wide text-gray-600 transform translate-y-1/2 bg-white">
                    Liste des inscrits pour {{ event.name|lower }}
                </div>
            </div>
            <!-- Bouton télécharger la liste -->
            <div class="my-4 ml-5">
                <a href="{{ path('app_admin_list_pdf', {'slug': event.slug}) }}"
                   class="bg-yellow-200 text-yellow-900 py-2 px-4 rounded
                                shadow hover:shadow-xl hover:bg-yellow-300 duration-300">
                    Télécharger la liste
                </a>
            </div>
            <!-- Client Table -->
            <div id="registration-list" class="mx-4">
                <div class="w-full overflow-hidden rounded-lg shadow-xs">
                    <div class="w-full overflow-x-auto">
                        <table class="w-full">
                            <thead>
                            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                <th class="px-4 py-3">Client</th>
                                <th class="px-4 py-3">Prix</th>
                                <th class="px-4 py-3">Status</th>
                                <th class="px-4 py-3">Nom des inscrits</th>
                                <th class="px-4 py-3">Action</th>
                            </tr>
                            </thead>
                            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                            {% for registration in registrations %}
                                <tr class="bg-gray-50 dark:bg-gray-800 hover:bg-gray-100 dark:hover:bg-gray-900
                                        text-gray-700 dark:text-gray-400">
                                    <td class="px-4 py-3">
                                        <div class="flex items-center text-sm">
                                            <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                                <img class="object-cover w-full h-full rounded-full"
                                                     src="{{ asset('build/uploads/images/Avatar-Batman.svg') }}"
                                                     alt="" loading="lazy"/>
                                                <div class="absolute inset-0 rounded-full shadow-inner"
                                                     aria-hidden="true"></div>
                                            </div>
                                            <div>
                                                <p class="font-semibold">{{ registration.fullname }}</p>
                                                <p class="text-xs text-gray-600 dark:text-gray-400">
                                                    {{ registration.children|length }}
                                                    {{ pluralize(registration.children|length, 'enfant', 'enfants') }}
                                                    {{ pluralize(registration.children|length, 'inscrit', 'inscrits') }}
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-4 py-3 text-sm">
                                        {{ (registration.event.price / 100) * (registration.children|length) }}
                                        €
                                    </td>
                                    <td class="px-4 py-3 text-xs">
                                        {% if registration.isPaid == 1 or event.price == 0 %}
                                            <span class="px-2 py-1 font-semibold leading-tight text-green-700
                                                    bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                                                        {% if event.price == 0 %}
                                                            Gratuit
                                                        {% else %}
                                                            Payé
                                                        {% endif %}
                                                    </span>
                                        {% else %}
                                            <span class="px-2 py-1 font-semibold leading-tight text-red-700
                                                    bg-red-100 rounded-full dark:bg-red-700 dark:text-red-100">
                                                        Non Payé
                                                    </span>
                                        {% endif %}
                                    </td>
                                    <td class="px-4 py-3 text-sm">
                                        {% for child in registration.children %}
                                            <p>{{ child.firstname }} {{ child.lastname }}</p>
                                        {% endfor %}
                                    </td>
                                    <td class="px-4 py-3 text-sm">
                                        <a class="text-red-100 bg-red-800 px-3 py-1 rounded-full
                                                hover:bg-red-600 hover:text-white"
                                           href="{{ path('app_registration_event_cancel',
                                               {'id': registration.id, 'slug': event.slug}) }}">
                                            Annuler l'inscription
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- Bouton retour sur la page des événements -->
        <div class="flex justify-center my-12">
            <a href="{{ path('app_admin_details_events') }}"
               class="flex items-center justify-center w-32 px-4 py-2 text-sm font-medium leading-5
                       text-white transition-colors duration-150 bg-indigo-600 border border-transparent rounded-lg
                       hover:bg-indigo-700">
                Retour
            </a>
        </div>
    </section>

{% endblock %}
