{% extends 'base.html.twig' %}
{% block title %}Inscription #{{ event.id }}{% endblock %}
{% block body %}

{% include('components/_navbar.html.twig') %}
    <section class="text-gray-600">
        <h1 class="text-4xl text-center text-purple-degrade uppercase font-semibold">{{ event.name }}</h1>
        <div class="mt-10 sm:mt-0 py-8">
            <div class="mx-auto ">
                <div class="mt-5 md:mt-0 md:col-span-2">
                    {{ form_start(form) }}
                    <div class="overflow-hidden sm:rounded-md">
                        <div class="px-4 py-5 bg-white sm:p-6">
                            <div class="grid grid-cols-6 gap-6">
                                <div class="col-span-2 sm:col-span-2">
                                    {{ form_label(form.name) }}
                                    {{ form_widget(form.name) }}
                                </div>

                                <div class="col-span-2 sm:col-span-2">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email) }}
                                </div>

                                <div class="col-span-2 sm:col-span-2">
                                    {{ form_label(form.phone) }}
                                    {{ form_widget(form.phone) }}
                                </div>

                                <div class="col-span-3 sm:col-span-3">
                                    {{ form_label(form.activity) }}
                                    {{ form_widget(form.activity) }}
                                </div>

                                {#<div class="col-span-6 sm:col-span-3">
                                        {{ form_label(form.event.creneaux) }}
                                        {{ form_widget(form.event.creneaux) }}

                                <div class="col-span-6 sm:col-span-6 bg-red-700 p-4">
                                    <label class="block text-white uppercase tracking-wider text-sm font-bold" for="custom_event_creneaux">Creneaux</label>
                                    <select class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 bg-red-300 text-gray-900" name="custom_event_creneaux" id="custom_event_creneaux" multiple>
                                        {% for creneau in event.creneaux %}
                                            <option id="{{ creneau.id }}" value="{{ creneau.id }}">{{ creneau }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                    </div>#}

                                {% for creneau in {{ form.creneauChoices }} %}
                                    <div class="col-span-6 sm:col-span-6 bg-red-700 p-4">
                                        <label class="block text-white uppercase tracking-wider text-sm font-bold" for="custom_event_creneaux">Creneaux</label>
                                        <select class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 bg-red-300 text-gray-900" name="custom_event_creneaux" id="custom_event_creneaux" multiple>
                                            <option id="{{ creneau.id }}" value="{{ creneau.id }}">{{ creneau }} </option>
                                        </select>
                                    </div>
                                {% endfor %}


                                <div class="col-span-3 sm:col-span-3">
                                    {{ form_label(form.creneauChoices) }}
                                    {{ form_widget(form.creneauChoices) }}
                                </div>

                                <div class="col-span-6 sm:col-span-6">
                                    {{ form_errors(form.message) }}
                                    {{ form_label(form.message) }}
                                    {{ form_widget(form.message) }}
                                </div>

                            </div>
                        </div>
                        <div class="px-4 py-3 text-center text-xl sm:px-6 mt-4">
                            <button type="submit" class="btn-purple-degrade w-1/6">S'inscrire</button>
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
