{% extends 'base.html.twig' %}

{% block title 'Aide pour ' ~ event.name %}

{% block body %}
    {% include('components/_navbar.html.twig') %}
    {# {% include('components/_hero_svg.html.twig') %}#}



    <main class="w-full min-h-screen bg-white dark:bg-gray-900">
        <div class="container relative flex flex-col min-h-screen px-6 py-8 mx-auto">
            <section class="flex items-center flex-1">
                <div class="flex flex-col w-full ">
                    <h1 class="text-5xl font-extrabold text-center lg:text-7xl 2xl:text-8xl">
                        <span class="text-purple-degrade">
                        {{ event.name }}
                    </span>
                    </h1>
                    <p class="max-w-3xl mx-auto mt-6 text-lg text-center text-gray-700 dark:text-white md:text-xl">
                        Pour cet événement, nous avons besoin de vous pour nous aider à le faire réussir.
                    </p>
                    <div class="flex flex-col mt-8 space-y-3 sm:-mx-2 sm:flex-row sm:justify-center sm:space-y-0">
                        <a href="{{ path('event_help_registration_create', {'slug': event.slug}) }}"
                           class="btn-purple-degrade">
                            Remplir le formulaire
                        </a>
                    </div>
                </div>
            </section>

            {% if registrations is not empty %}
                <div class="container px-5 py-4 mx-auto">
                    <div class="text-center mb-20">
                        <h2 class="sm:text-3xl text-4xl font-medium text-center title-font text-gray-900 mb-4">Ne soyez pas timide</h2>
                        <p class="max-w-3xl mx-auto mt-6 text-lg text-center text-gray-700 dark:text-white md:text-xl">
                            Les personnes ci-dessous nous apportent déjà leur soutien et nous sommes fiers de les compter parmi nous pour cette action.
                        </p>
                    </div>

                    <div class="overflow-x-auto relative">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="py-3 px-6">
                                    Nom
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Événement
                                </th>
                                {% if event.timeSlots %}
                                    <th scope="col" class="py-3 px-6">
                                        Disponibilités
                                    </th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for registration in registrations %}
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{ registration.name }}
                                    </th>
                                    <td class="py-4 px-6 uppercase">
                                        {{ registration.activity }}
                                    </td>
                                    {# Display timeslot for event #}
                                    {% if event.timeSlots %}
                                        <td class="py-4 px-6">
                                            {% for timeSlot in event.timeSlots %}
                                                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                                                    {{ timeSlot.name }}
                                                </span>
                                            {% endfor %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
        {#<section class="text-gray-600 body-font">
            {% if registrations is not empty %}
                <div class="container px-5 py-4 mx-auto">
                    <div class="text-center mb-20">
                        <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">Ne soyez pas timide</h1>
                        <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
                            Les personnes ci-dessous nous apportent dèjà leur soutien et nous sommes fier de les compter parmi nous pour cette action.
                        </p>
                    </div>

                    <div class="overflow-x-auto relative">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="py-3 px-6">
                                    Nom
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Événement
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for registration in registrations %}
                                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        {{ registration.name }}
                                    </th>
                                    <td class="py-4 px-6 uppercase">
                                        {{ registration.event.name }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </section>#}
    </main>


{% endblock %}
