{% extends 'base.html.twig' %}

{% block title event.name %}

{% block body %}
{% include('components/_navbar.html.twig') %}
    <section class="bg-white dark:bg-gray-900 mt-20">
        <div class="container px-6 py-10 mx-auto">
            <div class="lg:flex lg:-mx-6">
                <div class="lg:w-3/4 lg:px-6">
                    <img class="object-cover object-center w-full h-80 xl:h-[28rem] rounded-xl"
                         src="{{ asset('build/images/' ~ event.imageFileName) }}" alt="{{ event.imageFileName }}"
                    >

                    <div>
                        <p class="mt-6 text-sm text-blue-500 uppercase">{{ event.startsAt|format_datetime('full', 'short') }}</p>

                        <h1 class="mt-4 text-4xl font-semibold leading-tight text-gray-800 dark:text-white">
                            <span class="text-purple-degrade uppercase">{{ event.name }}</span>
                        </h1>

                        <p class="text-justify text-gray-500 dark:text-gray-400 mt-2 py-4">
                            {{ event.description }}
                        </p>

                        {# <Signature> #}
                        <div class="flex items-center mt-6">
                            {#<img class="object-cover object-center w-10 h-10 rounded-full" src="https://images.unsplash.com/photo-1531590878845-12627191e687?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="">#}
                            <div class="italic">
                                <h1 class="text-sm text-gray-700 dark:text-gray-200">Association des parents d'élèves</h1>
                                <p class="text-sm text-gray-500 dark:text-gray-400">Rousies Pasteur</p>
                            </div>
                        </div>
                        {# </Signature> #}

                        {# <Bouton inscription Aide /> #}
                        {% if event.helpNeeded %}
                            <div class="flex justify-center">
                                <a href="{{ path('event_help_registration', { 'slug': event.slug }) }}"
                                   class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-md font-medium px-5 py-2.5 text-center mr-2 mb-2">
                                    Proposer son aide pour organiser l'événement
                                </a>
                            </div>
                        {% endif %}
                        {# <Bouton inscription Aide /> #}
                    </div>
                </div>

                {# <Sidebar> #}
                <div class="mt-8 lg:w-1/4 lg:mt-0 lg:px-6">
                    {% for event in events|slice(0, 4) %}
                        <div>
                            <a href="{{ path('app_event_show', {'slug': event.slug}) }}" class="block mt-2 font-medium text-gray-700 hover:underline hover:text-gray-500 dark:text-gray-400 ">
                                <h3 class="text-blue-500 capitalize">{{ event.name }}</h3>
                            </a>
                            <p>
                                Le {{ event.startsAt|format_datetime('full', 'short') }}.
                            </p>
                        </div>
                    <hr class="my-6 border-gray-200 dark:border-gray-700">
                    {% endfor %}
                </div>
                {# </Sidebar> #}

            </div>
        </div>
    </section>

{% endblock %}
