{% extends 'base.html.twig' %}

{% block title event.name %}

{% block body %}
{% include('components/_navbar.html.twig') %}

{% include('components/_flash-messages.html.twig') %}

    <section class="bg-white dark:bg-gray-900 md:py-20">
        <div class="container px-6 py-10 mx-auto">
            <div class="lg:flex lg:-mx-6">
                <div class="lg:w-3/4 lg:px-6">
                    <!--########################################## Image ##########################################-->
                    {% if event.imageName == "event.jpeg" %}
                        <img class="w-full rounded" src="{{ asset('build/uploads/images/events/event.jpeg') }}"
                             alt="{{ event.name }}"
                        >
                    {% else %}
                        {# <img style="max-height: 510px; max-width: 720px" class="w-full object-cover rounded"#}
                        <img style="max-height: 510px"
                             class="w-full rounded md:object-cover xl:object-contain xl:bg-gray-50 xl:py-4 xl:shadow-xl"
                             src="{{ vich_uploader_asset(event, 'imageFile') }}"
                             alt="{{ event.name }}"
                        >
                    {% endif %}

                    <!--####################################### Complet ###########################################-->
                    {% if event.capacity == 0 %}
                        <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-red-900 px-4 py-3 shadow-md" role="alert">
                            <div class="flex">
                                <div class="py-1">
                                    <svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg>
                                </div>
                                <div>
                                    <p class="font-bold">Événement Complet</p>
                                    <p class="text-sm">
                                        Victime de son succès, cet événement affiche complet, nous en sommes désolé.
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div>
                        <!--################################## Date | Titre #######################################-->
                        <p class="mt-6 text-sm text-blue-500 uppercase">{{ event.startsAt|format_datetime('full', 'short') }}</p>
                        <h1 class="mt-4 text-xl text-center md:text-left md:text-4xl font-semibold leading-tight text-gray-800 dark:text-white">
                            <span class="text-purple-degrade uppercase">{{ event.name }}</span>
                        </h1>

                        <!--##################################### Description #####################################-->
                        <p class="text-justify text-gray-500 dark:text-gray-400 mt-2 py-4">
                            {{ event.description }}
                        </p>
                    </div>

                    <!--################################### Team APE (Soutien) ####################################-->
                    {% if event.helpNeeded %}
                        {% if app.user %}
                        <hr class="my-12">
                            <div id="alert-additional-content-1" class="p-4 mb-4 border border-blue-300 rounded-lg bg-blue-50 dark:bg-blue-300" role="alert">
                                <div class="flex items-center">
                                    <svg class="fill-current h-6 w-6 text-blue-900 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg>
                                    <span class="sr-only">Info</span>
                                    <h3 class="text-lg font-semibold text-blue-900">Chers membres de l'association</h3>
                                </div>
                                <div class="mt-2 mb-4 text-sm text-blue-900">
                                    <p class="lead pb-2">
                                        Nous avons le plaisir de vous inviter à participer à l'organisation de notre
                                        prochain événement. Nous sommes convaincus que votre participation et votre
                                        enthousiasme seront essentiels pour que cet événement soit une réussite.
                                        <br>

                                        Il y a de nombreuses manières de participer et de s'impliquer dans
                                        l'organisation de cet événement. Voici quelques exemples : <br>
                                    </p>
                                    <ul class="bg-blue-100 rounded-lg text-gray-900 italic py-2">
                                        <li class="px-6 py-2 border-b border-gray-200 w-full rounded-t-lg">
                                            Aider à la préparation de la logistique
                                            (réservation de salles, achat de matériel, etc.)
                                        </li>
                                        <li class="px-6 py-2 border-b border-gray-200 w-full">
                                            Contribuer à la mise en place de stands ou de démonstrations
                                        </li>
                                        <li class="px-6 py-2 border-b border-gray-200 w-full">
                                            Participer à la recherche de sponsors ou de partenaires
                                        </li>
                                        <li class="px-6 py-2 w-full">
                                            Aider à la communication et à la promotion de l'événement
                                            (réseaux sociaux, affiches, etc.)
                                        </li>
                                    </ul>
                                    <p class="lead pt-2">
                                        Si vous souhaitez participer à l'organisation de cet événement, merci de nous
                                        contacter en remplissant le formulaire.

                                        Nous espérons vous compter parmi nous et vous remercions par avance pour
                                        votre soutien et votre engagement.
                                    </p>

                                    <div class="border-t border-blue-800 my-4 py-4 w-[50%] mx-auto">
                                        <p class="lead text-center text-blue-900 font-semibold lead" >
                                            Cordialement, <br>
                                            La présidente de l'APERP.
                                        </p>
                                    </div>

                                </div>
                                <div class="flex">
                                    <a href="{{ path('event_help_registration_create', {'slug': event.slug}) }}"
                                       class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center dark:bg-blue-800 dark:hover:bg-blue-900">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                        </svg>
                                        Remplir le formulaire de soutien
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>

                <!--########################################### Sidebar ###########################################-->
                <div class="mt-8 lg:w-1/4 lg:mt-0 lg:px-6">
                    {% for event in events|slice(0, 4) %}
                        {% if event.slug is not same as app.request.get('slug') %}
                            <div>
                                    <a href="{{ path('app_event_show', {'slug': event.slug}) }}"
                                       class="block mt-2 font-medium text-gray-700 hover:underline hover:text-gray-500 dark:text-gray-400 ">
                                        <h3 class="text-blue-500 capitalize">{{ event.name }}</h3>
                                    </a>
                                    <p>
                                        Le {{ event.startsAt|format_datetime('full', 'short') }}.
                                    </p>
                                </div>
                            <hr class="my-6 border-gray-200 dark:border-gray-700">
                        {% endif %}
                    {% endfor %}

                    {% if event.capacity > 0 %}
                        {% include('components/Event/_registration.html.twig') %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
